Options -MultiViews
RewriteEngine On
RewriteBase /alumni_app/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /alumni_app/index.html [L]
